


body{
    overflow-x: hidden;
}

/* navbar custom css */
.navbar{
    background-color: #006d77;
}

.artist-img{
    margin-bottom: 1.25em;
}
.artist-img:hover{
    cursor: pointer;
}
.slider{
    margin: 1.5em auto;
}