<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Crea la tua playlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> 

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!--Custom CSS-->
    <!--<link rel="stylesheet" href="/stylesheets/item.css">-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--Slick Slider-->
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    <!--boxicons css-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .swiper {
  width: 600px;
  height: 300px;
}
    </style>
    </head>
  <body>
    
    <!--SIDEBAR-->
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="<%= user.me.images[0].url %>" alt="Profile pic">
          </span>
          <div class="text logo-text">
            <span class="name">Ciao</span>
            <span class="profession" style="text-overflow:unset;"><%= user.me.id %></span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search...">
          </li>
          <ul class="menu-links px-0">
            <li>
              <a href="#" class="active">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Homepage</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bxs-playlist icon'></i>
                  <span class="text nav-text">Create</span>
              </a>
            </li>
            <li>
              <a href="/getCategories">
                <i class='bx bx-category-alt icon'></i>
                  <span class="text nav-text">Discover</span>
              </a>
            </li>
            <li>
              <a href="#">
                  <i class='bx bx-pie-chart-alt icon' ></i>
                  <span class="text nav-text">Analytics</span>
              </a>
            </li>
            <li>
              <a href="#">
                  <i class='bx bx-heart icon' ></i>
                  <span class="text nav-text">Likes</span>
              </a>
            </li>
            <li>
              <a href="#">
                  <i class='bx bx-wallet icon' ></i>
                  <span class="text nav-text">Wallets</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="bottom-content">
          <li>
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>
          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>
            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>
    <!--End sidebar-->

    <section class="home" style="white-space: normal;">
      <div class="container">
        <i class="bx bx-menu sidebarOpen"></i>
        <div class="card">
          <div class="card-body">
            <!--hero section-->
            <div class="px-4 py-3 mt-5 mb-auto text-center">
              <h1 class="display-5 fw-bold">Playlist Generator</h1>
              <div class="col-lg-6 mx-auto">
                <div>
                  <p class="lead mb-4" style="white-space: normal;">Seleziona un massimo di 3 artisti su cui basare la tua playlist. Modifica i parametri per rendere la tua playlist unica.</p>
                </div>
              </div>
            </div>
            <!--end hero section-->
            <div class="px-4 py-5">
              <div class="row g-3">
                <div class="col-auto col-md-10">
                  <label for="exampleDataList" class="form-label visually-hidden">Datalist example</label>
                  <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                  <datalist id="datalistOptions"></datalist>
                </div>
                <div class="col-auto col-md-2">
                  <button type="submit" class="btn btn-primary" onclick="selectArtist()">Seleziona</button>
                </div>
              </div>
              <!--Selected items section-->
              <div class="row g-3">
                <div class="col-12 my-3 px-2 py-4">
                  <h3 class='text-center' id="msg">Non hai selezionato alcun artista</h3>
                  <ul class="list-group list-group-flush" id="selectedArtists">

                  </ul>
                </div>
              </div>
              <hr>
              <!--End selected item section-->
            </div>
          </div>
        </div>
      </div>
    </section>
    
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', ()=>{
    const input = document.getElementById('exampleDataList');
    let dl = document.getElementById('datalistOptions');
    input.addEventListener('keyup', () => {
      //dl.innerHTML = '';
      var filter = input.value;
      fetch('/search/'+filter).then(results => {
        return results.json();
      })
      .then(data => {
        let child = dl.lastElementChild;
        while(child){
          dl.removeChild(child);
          child = dl.lastElementChild;
        }
        data.items.forEach(result => {
          let option = document.createElement('option');
          option.setAttribute('value', result.name);
          option.setAttribute('id', result.id);
          dl.appendChild(option);
        });
      });
    }); 
    
    input.addEventListener('change', ()=>{
      document.activeElement.blur();
    });
  });
  function selectArtist(){
      const input = document.getElementById('exampleDataList');
      const dl = document.getElementById('datalistOptions');
      const list = document.getElementById('selectedArtists');
      var opt = document.querySelectorAll('option[value="'+input.value+'"]');
      var child = dl.lastElementChild;


      while(child){
          dl.removeChild(child);
          child = dl.lastElementChild;
      }
      var artist = opt[0].id;
      input.value = '';
      fetch('/getArtist/'+artist).then(results => {
        return results.json();
      }).then(data => {
        document.getElementById('msg').classList.add('d-none');
        let el = document.createElement('li');
        let closeBtn = document.createElement('button');

        el.setAttribute('class', 'list-group-item');
        el.innerText = data.name;
        list.appendChild(el);

        closeBtn.setAttribute('type', 'button');
        closeBtn.setAttribute('class', 'btn-close float-end');
        closeBtn.setAttribute('aria-label', 'Close');
        el.appendChild(closeBtn);
      });
    }
</script>
<script src="/javascripts/bootstrap.js"></script>
    <!--sidebar js-->
    <script type="text/javascript" src="/javascripts/sidebar.js"></script>
  </body>
</html>