<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Crea la tua playlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> 

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!--Custom CSS-->
    <!--<link rel="stylesheet" href="/stylesheets/item.css">-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--Slick Slider-->
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    <!--boxicons css-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .swiper {
  width: 600px;
  height: 300px;
}
    </style>
    </head>
  <body>
    
    <!--SIDEBAR-->
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="<%= user.me.images[0].url %>" alt="Profile pic">
          </span>
          <div class="text logo-text">
            <span class="name">Ciao</span>
            <span class="profession" style="text-overflow:unset;"><%= user.me.id %></span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search...">
          </li>
          <ul class="menu-links px-0">
            <li>
              <a href="#" class="active">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Homepage</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bxs-playlist icon'></i>
                  <span class="text nav-text">Create</span>
              </a>
            </li>
            <li>
              <a href="/getCategories">
                <i class='bx bx-category-alt icon'></i>
                  <span class="text nav-text">Discover</span>
              </a>
            </li>
            <li>
              <a href="#">
                  <i class='bx bx-pie-chart-alt icon' ></i>
                  <span class="text nav-text">Analytics</span>
              </a>
            </li>
            <li>
              <a href="#">
                  <i class='bx bx-heart icon' ></i>
                  <span class="text nav-text">Likes</span>
              </a>
            </li>
            <li>
              <a href="#">
                  <i class='bx bx-wallet icon' ></i>
                  <span class="text nav-text">Wallets</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="bottom-content">
          <li>
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>
          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>
            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>
    <!--End sidebar-->

    <section class="home" style="white-space: normal;">
      <div class="container">
        <i class="bx bx-menu sidebarOpen"></i>
        <div class="card">
          <div class="card-body">
            <div class="col-xs-4 mx-auto">
              <label for="exampleDataList" class="form-label">Datalist example</label>
              <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
              <datalist id="datalistOptions">
                
              </datalist>
              <button class="btn btn-primary" onclick="selectArtist()">Seleziona</button>
            </div>

          </div>
        </div>
      </div>
    </section>
    
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', ()=>{
    const input = document.getElementById('exampleDataList');
    let dl = document.getElementById('datalistOptions');
    input.addEventListener('keyup', () => {
      //dl.innerHTML = '';
      var filter = input.value;
      fetch('/search/'+filter).then(results => {
        return results.json();
      })
      .then(data => {
        let child = dl.lastElementChild;
        while(child){
          dl.removeChild(child);
          child = dl.lastElementChild;
        }
        data.items.forEach(result => {
          let option = document.createElement('option');
          option.setAttribute('value', result.name);
          option.setAttribute('id', result.id);
          dl.appendChild(option);
        });
      });
    }); 
    
    input.addEventListener('change', (event)=>{
      document.activeElement.blur();
    });
  });
  function selectArtist(){
      const input = document.getElementById('exampleDataList');
      let artist = input.value;
      alert(artist);
      input.value = '';
    }
</script>
<script src="/javascripts/bootstrap.js"></script>
  </body>
</html>